<h1>Daniel Newells, Bug Tracker!</h1>
<%= link_to 'My Bugs', controller: 'bugs' %>

<div class="jumbotron">
       <div class="container">
         <h1>Welcome to my world of bees!</h1>
          <p>The happiness of the bee and the dolphin is to exist. For man it is to kn
     ow that and to wonder at it.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raqu
     o;</a></p>
        </div>
</div>