<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Bug Tracker</a>
  <form class="form-inline">
    <%= link_to 'Users', users_path, :class => "btn btn-outline-primary"%>
    <div style="padding-left: 10px;">
      <%= link_to 'Bugs', bugs_path, :class => "btn btn-outline-secondary"%>
    </div>
  </form>
</nav>